<nav class="navbar navbar-light" style="background-color: #e3fde7;">
  

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
   <a class="navbar-brand" href="#">EMPLOYEE RECORDS</a> <br/>
      
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login"
              routerLinkActive="active">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/home"
              routerLinkActive="active">home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/employee_attendance"
              routerLinkActive="active">employee_attendance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/leave"
            routerLinkActive="active">leave</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/reports"
            routerLinkActive="active">reports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contactus"
            routerLinkActive="active">contactus</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  </nav>
  
  <router-outlet></router-outlet>
  