<p>contactus works!</p>
<div class="image">
    <img src="./assets/main.jfif">
    </div>
    <table class="table table-sm"  >
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">name</th>
          <th scope="col">role</th>
          <th scope="col">email</th>
          <th scope="col">number</th>
          <th scope="col">description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>ravi</td>
          <td>IT admin</td>
          <td>ravi@gmail.com</td>
          <td>7677797329</td>
          <td>technical issues and support related computer system</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>raj</td>
          <td>HR</td>
          <td>raj@gmail.com</td>
          <td>7837485793</td>
          <td>human resource management service and solution</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>ratan</td>
          <td>Manager</td>
          <td>ratan@gmail.com</td>
          <td>7687239394</td>
          <td>company related queries</td>
        </tr>
      
        <em>
     